* {
  line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0;
}

.navigation {
  background-color: #f4f5f6;
  display: block;
  border-bottom: .1rem solid #d1d1d1;
  height: 5.2rem;
  left: 0;
  right: 0;
  top: 0;
  max-width: 100%;
  width: 100%;
  z-index: 1;
  position: fixed;
}

.navigation .nav-title {
  color: #606c76;
  position: relative;
  display: inline;
  line-height: 5.2rem;
  font-size: 1.6rem;
  padding: 0;
  text-decoration: None;
}

.content.container {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.content.container p {
  margin-bottom: 1.5rem;
}

/*
.content.container h3 {
  font-size: 2.2rem;
}

.content.container h2 {
  font-size: 2.8rem;
}

.content.container h1 {
  font-size: 3.4rem;
}

.content.container h4 {
  font-size: 1.6rem;
}

.content.container h5 {
  font-size: 1rem;
}
*/
.errorlist {
  color: #f33636;
}
