{% extends 'klubevents/base.html' %}

{% block content %}
    <div class="row">
        <div class="column">
            <h3>Sign Up and Drink With Us!</h3>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <form 
             action="{% url 'klubevents:member_registration' %}"
             method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Start Drinking!" />
            </form>
        </div>
    </div>
{% endblock %}
