{% load static %}
<html>
  <head>
    <title>Bier Klub | {{ title|default:"Home" }}</title>
    <link rel="stylesheet" type="text/css"
                           href="{% static 'klubevents/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" type="text/css"
                           href="{% static 'klubevents/css/milligram.min.css' %}" />
    <link rel="stylesheet" href="{% static 'klubevents/css/style.css' %}" type="text/css">
  </head>
  <body>
    <nav class="navigation">
      <div class="container">
        <i class="fa fa-beer" aria-hidden="true"></i>
        <a class="nav-title" href="{% url 'klubevents:index' %}">Bier Klub</a>
        {% if not user.is_anonymous %}
            <span class="float-right nav-title">
                Cheers {{ user.username }}
            </span>
            <span class="clearfix"></span>
        {% else %}
            <span class="float-right nav-title">
                <a href="">Login</a> |
                <a href="{% url 'klubevents:member_registration' %}">Register</a>
            </span>
            <span class="clearfix"></span>
        {% endif %}
      </div>
    </nav>
    <div class="clearfix"></div>
    <div class="content container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
