{% extends 'klubevents/base.html' %}
{% load markdown_deux_tags %}

{% block content %}
  <h3>
    {% markdown %}
Bier Klub Round {{ event.number }}: 
{{ event.name }} ({{ event.date|date:"Y-m-d" }})
    {% endmarkdown %}
  </h3>

  {{ event.preamble|markdown }}

  <h4>brew cask install hjc/bierklub/{{ event.number }}</h4>

  {{ event.description|markdown }}

  <h4>The Guest List</h4>

  {% if event.attendees.all %}
    <ul>
    {% for attendee in event.attendees.all %}
      <li>{{ attendee.name }}</li>
    {% endfor %}
    </ul>
    <p>
      Not on the list? Go ahead and sign up
      <a href="{% url 'klubevents:attending' event.id %}">here</a>.
    </p>
  {% else %}
    <p>No attendees signed up yet, <a href="{% url 'klubevents:attending' event.id %}">be
      the first to sign up!</a>
    </p>
  {% endif %}

  {% if event.additional_notes %}
    <h3>Additional Notes</h3>

    {{ event.additional_notes|markdown }}
  {% endif %}
{% endblock %}
